.height-banner {
    height: 400px;
    .banner-title {
        color: rgba(255, 255, 255, 1);
        font-weight: 300;
    }
    .banner-text {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
    }
}
